@import "susy";
@import "partials/normalize";
@import "partials/typo";
@import "partials/variables";

$susy: (
    global-box-sizing: border-box,
    container: 1200px,
    columns: 6,
    gutters: 6.5,
    gutter-position: inside
);




/* ! CSS TENNIS FRANCHE-COMTE 
 * ================================================================== */

@include border-box-sizing;

.nav {
    @include span(full no-gutter);
    background-color: $bleu;
    height: 80px;
    
    .nav__navbar {
        @include container;
      
        .navbar__logo {
            @include span(2 of 6);
            background: $bleu;
            height: 80px;
        }
        
        .navbar__menu {
            @include pre(4 of 6);
            background: darken($bleu, 6%);
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            @include font-opensans(700);
        }
    }
}