@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Rubik:300,400,400i,700,700i');
@import "variables";

@mixin font-opensans($weight: 400, $style: normal) {
    font-family: "Open Sans", sans-serif;
    font-weight: $weight;
    font-style: $style;
}

@mixin font-rubik($weight: 400, $style: normal) {
    font-family: "Rubik", sans-serif;
    font-weight: $weight;
    font-style: $style;
}


h2 {
    @include font-rubik(700, italic);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(245, 96, 78);
    margin: 0 0 20px 0;
    
    &:after {
        content: '';
        display: block;
        background-color: rgb(245, 96, 78);
        width: 60px;
        height: 4px;
    }
}

h3 {
    @include font-rubik(700);
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
}

p {
    margin: 10px 0 0;
}

